site_name: Modular Object-Oriented Dynamic Learning Environment

theme:
  name: material
  language: pt
  logo: https://user-images.githubusercontent.com/79341819/202909824-0650cfef-d62b-46bb-8517-131ff9d71817.png
  favicon: https://user-images.githubusercontent.com/79341819/202906275-e2771845-ba44-470d-81cd-0270bf5444f1.png
  palette:
    scheme: slate
    primary: orange
    accent: orange

  markdown_extensions:
  - admonition
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
nav:
  - Inicio: 
    - Projeto: index.md
    - Aplicativos avaliados: apps_avaliados.md
  - Planejamento:
    - Cronograma de reuniões: Planejamento/cronograma_reunioes.md
    - Cronograma de atividades: Planejamento/cronograma_atividades.md
    - Ferramentas: Planejamento/ferramentas.md
    - Medotologia: Planejamento/metodologia.md
    - Reuniões: Planejamento/reunioes.md
  - Pré-Rastreabilidade:
    - RichPicture: Pré-Rastreabilidade/rich_picture.md